{% extends "base.html" %}
{% block title %}news List {% endblock %}

{% block content %}
<div id="content">
  <h1>IT News List</h1>
  
  <form>
  <button style="submit" class="btn btn-primary">최신 데이터 가져오기</button>
  </form>


  <!-- display news list -->

  {% for new in news %}
  <h2><a href="{% url 'news:news_detail' new.id %}">
      {{ new.title }}</a></h2>
      {{ new.writer}}
      <p>{{ new.preview }}</p>
      <br/>
  {% endfor %}

  <!-- paging link -->
  <div>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %} [ page {{ page_obj.number }} / {{page_obj.paginator.num_pages }} ]
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>

{% endblock %}